<!-- Deal Detail Bottom Bar Ad -->
<div class="ad-unit-container deal-detail-bottom-ad">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7930233358759132"
         crossorigin="anonymous"></script>
    <!-- deal_detail_bottom -->
    <ins class="adsbygoogle"
         style="display:inline-block"
         data-ad-client="ca-pub-7930233358759132"
         data-ad-slot="8431236946"
         data-ad-format="horizontal"
         data-full-width-responsive="false"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> 