<!-- Deal Card Ad -->
<div class="ad-unit-container deal-card-ad">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7930233358759132"
         crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-6t+ed+2i-1n-4w"
         data-ad-client="ca-pub-7930233358759132"
         data-ad-slot="2522373517"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> 