<!-- Deal Detail Bottom Bar Ad -->
<div class="ad-unit-container deal-detail-bottom-ad" data-ad-status="unfilled">
    <ins class="adsbygoogle"
         style="display:inline-block;"
         data-ad-client="ca-pub-7930233358759132"
         data-ad-slot="8431236946"></ins>
<div class="ad-fallback" style="display: none;">No ad available</div>
<script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> 