<nav class="deals-navbar">
    <div class="deals-logo">
        <a href="/">
            <img src="/assets/brand/White logo - no background.svg" alt="Frugal" class="deals-logo-image">
        </a>
    </div>
    <a href="https://wa.me/message/KUPHMY4ZK25QA1" class="cta-button-deals">Never Miss Savings</a>
</nav>